DEBUG=True
ORIGIN=https://aircodeup.net

DB_URL=postgresql://postgres:postgres@0.0.0.0/meet
BROKER_URL=amqp://test:test@192.168.10.96:5672

JWT_PUBKEY=5944e2e29eae457ea95ba9e3388778b4
JWT_PVTKEY=bad627eaa36640d2959d2c767c72e2cb
JWT_ACCESS_EXPIRE=6400
JWT_REFRESH_EXPIRE=10400

WITHDRAW_BEAT_SECOND=60