DEBUG=True
ORIGIN=https://walleteman.net

DB_URL=postgresql://postgres:postgres@host/walleteman
BROKER_URL=amqp://user:password@0.0.0.0:5672

JWT_PUBKEY=5944e2e29eae123ea95bb9e3388778b4
JWT_PVTKEY=bad627eaa3664322959d3c767c72e2cb
JWT_ACCESS_EXPIRE=6400
JWT_REFRESH_EXPIRE=10400

WITHDRAW_BEAT_SECOND=60
THIRD_PARTY_SERVICE_URL=http://host.com